<ul class="list1">
    <li>
        <a href="/show/1">TOP1</a>
        <ol class="list2">
            <li>
                <a href="/show/2">NEXT1-1</a>
                <ol class="list3">
                    <li><a href="#">暂无更多</a></li>
                </ol>
            </li>
            <li>
                <a href="/show/3">NEXT1-2</a>
                <ol class="list3">
                    <li><a href="#">暂无更多</a></li>
                </ol>
            </li>
            <li>
                <a href="/show/4">NEXT1-3</a>
                <ol class="list3">
                    <li><a href="#">暂无更多</a></li>
                </ol>
            </li>
            <li>
                <a href="/show/5">NEXT1-4</a>
                <ol class="list3">
                    <li><a href="#">暂无更多</a></li>
                </ol>
            </li>
            <li>
                <a href="/show/6">NEXT1-5</a>
                <ol class="list3">
                    <li><a href="/show/7">END1-5-1</a></li>
                    <li><a href="/show/8">END1-5-2</a></li>
                    <li><a href="/show/9">END1-5-3</a></li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        <a href="/show/10">TOP2</a>
        <ol class="list2">
            <li><a href="#">暂无更多</a></li>
        </ol>
    </li>
    <li>
        <a href="/show/11">TOP3</a>
        <ol class="list2">
            <li><a href="/show/12">NEXT3-1</a></li>
            <li><a href="/show/13">NEXT3-2</a></li>
            <li><a href="/show/14">NEXT3-3</a></li>
            <li><a href="/show/15">NEXT3-4</a></li>
            <li><a href="/show/16">NEXT3-5</a></li>
        </ol>
    </li>
    <li>
        <a href="/show/17">TOP4</a>
        <ol class="list2">
            <li><a href="#">暂无更多</a></li>
        </ol>
    </li>
    <li>
        <a href="/show/18">TOP5</a>
        <ol class="list2">
            <li><a href="/show/19">NEXT5-1</a></li>
            <li><a href="/show/20">NEXT5-2</a></li>
            <li><a href="/show/21">NEXT5-3</a></li>
            <li><a href="/show/22">NEXT5-4</a></li>
        </ol>
    </li>
    <li>
        <a href="/show/23">TOP6</a>
        <ol class="list2">
            <li><a href="#">暂无更多</a></li>
        </ol>
    </li>
    <li>
        <a href="/show/24">TOP7</a>
        <ol class="list2">
            <li><a href="/show/25">NEXT7-1</a></li>
            <li><a href="/show/26">NEXT7-2</a></li>
            <li><a href="/show/27">NEXT7-3</a></li>
            <li><a href="/show/28">NEXT7-4</a></li>
        </ol>
    </li>
</ul>